<section class="io grid centro">
	<div class="linha">
		<div class="oito wide coluna">
			<div class="conteudo-imagem">
				<header class="titulo-logo">
					<h1>Tasks Experience</h1>
					<img class="pontos" src="../assets/images/pontos.svg" alt="Pontos">
					<img class="triangulo" src="../assets/images/triangulo.svg" alt="Triangulo">
					<img class="destaque" src="../assets/images/destaque.svg" alt="Destaque">
					<img class="circulo" src="../assets/images/circulo.svg" alt="Circulo">
				</header>
				<figure >
					<img class="imagem-banner" src="../assets/images/welcome-tasks.svg" alt="Imagem Banner" />
				</figure>
			</div><!-- Content Image -->
		</div><!-- coluna -->

		<div class="oito wide coluna">
			<div class="conteudo-descricao">
				<div class="titulo">
					<h1>Comece cada dia com calma e controle</h1>
				</div>
				<div class="descricao-paragrafo">
					<p>Tenha uma visão geral de tudo o que tem para
					fazer e nunca perca o controle de uma tarefa
					importante.</p>
					<button class="io botao basico-azul sombra" (click)="rotaParaPanel()">Começar agora</button>
				</div><!-- Conteudo-listas -->
			</div><!-- Conteudo-descricao -->
		</div><!-- coluna -->
	</div><!-- linha -->
</section><!-- Grid -->