.side-bar {
    height: 43px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    justify-content: center;
    clear: both;
    background: #FFFFFF;
    color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.14);

    h4 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		color: #253858;
		margin: 13px 0;
		font-size: 15px;
    }

    .botao-sair {
        position: fixed;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}