.side-bar {
    height: 43px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    clear: both;
    background: #FFFFFF;
    color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.14);
}